
.DS_Store

.idea/.idea.opensea-netcore/.idea/

.idea/.idea.opensea-netcore.dir/.idea/

nft-netcore/obj/

nft-netcore/bin/

nft-netcore/build/

.idea/.idea.nft-netcore/.idea/

nft-netcore.sln.DotSettings.user
